.idea
.terraform
.env*
!.env.example
*.crt
*.key
*.tfstate*
*.tfvars
*kubeconfig*
admin-user-token.txt
backend.tf
roots/cloudbees-ci/values/*.xml
roots/cloudbees-ci/values/*.yaml
roots/cloudbees-ci/oc-casc-bundle
roots/traditional-ec2/values/*.properties
scripts
tfplan
