.idea
.terraform
.env*
!.env.example
.terraform.lock.hcl
*.crt
*.key
*.tfstate*
*.tfvars
*kubeconfig*
admin-user-token.txt
backend.tf
roots/sda/values/*.xml
roots/sda/values/*.yaml
roots/sda/oc-casc-bundle
tfplan
