[submodule "eks/modules/terraform-eks-asg"]
	path = eks/modules/terraform-eks-asg
	url = git@github.com:ryecarrigan/terraform-eks-asg.git

[submodule "eks/modules/terraform-eks-cluster"]
	path = eks/modules/terraform-eks-cluster
	url = git@github.com:ryecarrigan/terraform-eks-cluster.git

[submodule "eks/modules/terraform-eks-vpc"]
	path = eks/modules/terraform-eks-vpc
	url = git@github.com:ryecarrigan/terraform-eks-vpc.git

[submodule "eks/modules/terraform-cbci-namespace"]
	path = eks/modules/terraform-cbci-namespace
	url = git@github.com:ryecarrigan/terraform-cbci-namespace.git
