# Required vars
domain_name =

# Optional vars (default will be used if not set)
#agent_image =
#chart_repository =
#chart_version =
#ci_namespace =
#controller_image =
#hibernation_enabled =
#manage_namespace =
#oc_configmap_name =
#oc_image =
#oc_secret_name =
#oc_secret_path =
#platform = "eks"
#secrets_file =
#storage_class =
#subdomain =
