# Optional common configuration
#kubeconfig_file = # Defaults to "~/.kube/config"
#tags = # Defaults to empty map
#update_kubeconfig = # Defaults to true


# Options for installing and configuring CloudBees CI
install_ci = true
#bundle_dir = # Defaults to "oc-casc-bundle"
#ci_chart_repository = "s3://charts.staging.core-mp/cloudbees-staging"
#ci_chart_version = # Defaults to latest hard-coded in variables
ci_host_name = # required if `install_ci = true`
#ci_namespace = # Defaults to "cloudbees-ci"
#ci_values_file = # Defaults to "values/ci.yaml"
#create_service_monitors = # Defaults to false
#groovy_dir = # Defaults to "groovy-init"
#manage_ci_namespace = # Defaults to true
#secrets_file = # Defaults to "values/secrets.yaml"


# Options for installing and configuring CloudBees CD/RO
install_cdro = true
#cd_chart_version = # Defaults to latest hard-coded in variables
#cd_license_file = # Defaults to "values/license.xml"
#cd_namespace = # Defaults for "cloudbees-cd"
#cd_values_file = # Defaults to "values/cd.yaml"
#manage_cd_namespace = # Defaults to true

# Options for installing and configuring a MySQL release
# The database name, user, and password will be taken from the CD/RO values file
install_mysql = true
