# Required variables
cluster_name = # Will be appended with terraform workspace name (unless default)
domain_name =

# Optional variables
#bastion_enabled # Defaults to false
#cidr_block = # Defaults to "10.0.0.0/16"
#dashboard_subdomain = # Defaults to "dashboard"
#grafana_subdomain = # Defaults to "grafana"
#install_kubernetes_dashboard = # Defaults to false
#install_prometheus = # Defaults to false
#instance_types = # Defaults to ["m5.xlarge", "m5a.xlarge", "m4.xlarge"]
#key_name = # Defaults to empty string, which will be interpreted as none
#kubernetes_version = # Defaults to 1.21
#ssh_cidr_blocks = # Defaults to ["0.0.0.0/32"]
#tags = # Defaults to empty map
#zone_count = # Defaults to 3
