# Required variables
cluster_name = # Will be appended with terraform workspace name (unless default)
domain_name = # Must be an existing Route53 zone
ssh_cidr_blocks = # Plan will reject if any invalid CIDRs are provided

# Optional variables
#bastion_enabled # Defaults to false
#cidr_block = # Defaults to "10.0.0.0/16"
#create_acm_certificate = # Defaults to true
#create_kubeconfig_file = # Defaults to true
#grafana_subdomain = # Defaults to "grafana"
#install_prometheus = # Defaults to false
#instance_types = # Defaults to ["m5.xlarge", "m5a.xlarge", "m4.xlarge"]
#key_name = # Defaults to empty string, which will be interpreted as none
#kubeconfig_file = # Defaults to "eks_kubeconfig"
#kubernetes_version = # Defaults to 1.21
#node_group_desired = # Defaults to 1
#node_group_min = # Defaults to 1
#node_group_max = # Defaults to 4
#single_node_group_per_az = # Defaults to true
#storage_class_uid = # Defaults to 1000
#tags = # Defaults to empty map
#zone_count = # Defaults to 3
