# Required vars
#domain_name =

# Optional vars (default will be used if not set)
#aws_profile =
#aws_region =
#cd_subdomain =
#ci_subdomain =
#cidr_block =
#cluster_name =
#eks_version =
#extra_tags =
#instance_types =
#key_name =
#ssh_cidr =
#zone_count =
