OperationsCenter:
  HostName: ci.example.com
  Platform: eks
  Protocol: https
  Ingress:
    Class: alb
    Annotations:
      alb.ingress.kubernetes.io/inbound-cidrs: 0.0.0.0/0
      alb.ingress.kubernetes.io/scheme: internet-facing
      alb.ingress.kubernetes.io/tags: "key1=value1,key2=value2"
      alb.ingress.kubernetes.io/target-group-attributes: stickiness.enabled=true
      alb.ingress.kubernetes.io/target-type: ip
  CasC:
    Enabled: true
    Retriever:
      Enabled: true
      ocBundleAutomaticVersion: true
      scmRepo: https://github.com/ryecarrigan/oc-casc-bundle.git
      scmBranch: main
      scmBundlePath: /modern

  NodeSelector:
    jenkins: controller

  Resources:
    Limits:
      Cpu: 2
      Memory: 4Gi
    Requests:
      Cpu: 2
      Memory: 4Gi

  JavaOpts: >-
    -Djenkins.install.runSetupWizard=false
    -Duser.timezone=America/New_York
    -XX:+AlwaysPreTouch
    -XX:+HeapDumpOnOutOfMemoryError
    -XX:HeapDumpPath=$JENKINS_HOME/logs
    -XX:+UseStringDeduplication
    -XX:+ParallelRefProcEnabled
    -XX:+UnlockDiagnosticVMOptions
    -XX:+UnlockExperimentalVMOptions
    -Xlog:gc*=info,gc+heap=debug,gc+ref*=debug,gc+ergo*=trace,gc+age*=trace:file=$JENKINS_HOME/logs/gc.log:utctime,pid,level,tags:filecount=2,filesize=100M
    -XX:ErrorFile=$JENKINS_HOME/logs/hs_err_%p.log
    -XX:+LogVMOutput
    -XX:LogFile=$JENKINS_HOME/logs/jvm.log
    -XX:InitialRAMPercentage=50.0
    -XX:MaxRAMPercentage=50.0

HibernationEnabled: false

Master:
  JavaOpts: >-
    -Djenkins.install.runSetupWizard=false
    -Duser.timezone=America/New_York
    -XX:+HeapDumpOnOutOfMemoryError
    -XX:HeapDumpPath=$JENKINS_HOME/logs
    -XX:+UnlockDiagnosticVMOptions
    -XX:+UnlockExperimentalVMOptions
    -XX:ErrorFile=$JENKINS_HOME/logs/hs_err_%p.log
    -XX:+LogVMOutput
    -XX:LogFile=$JENKINS_HOME/logs/jvm.log
    -XX:InitialRAMPercentage=50.0
    -XX:MaxRAMPercentage=50.0
