ingress:
  host: cd.example.com
  class: alb
  annotations:
    alb.ingress.kubernetes.io/inbound-cidrs: 0.0.0.0/0
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/tags: "key1=value1,key2=value2"
    alb.ingress.kubernetes.io/target-type: ip
platform: eks

server:
  volumesPermissionsInitContainer:
    enabled: false

repository:
  enabled: false

dois:
  credentials:
    adminPassword: ""

storage:
  volumes:
    serverPlugins:
      storageClass: "efs-sc"

database:
  dbName: flowdb
  dbUser: flow
  dbPassword: ""
  dbType: mysql
  dbPort: 3306
  mysqlConnector:
    enabled: true

flowCredentials:
  adminPassword: ""

nginx-ingress:
  enabled: false
